@charset "UTF-8";

body {
  margin: 0px;
  padding: 0 px;
  background-image: url("./img/backgrond.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation-container {
  width: 100%;
  height: 60px;
  background-color: #ea272d;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.navigation-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 12%;
}

.cart img {
  height: 30px;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  padding: 0px 30px;
  font-family: calibri;
  font-weight: bold;
  color: #ffffff;
}

.cart {
  display: flex;
  align-items: center;
  font-family: calibri;
  font-weight: bold;
}

.cart a {
  color: #ffffff;
  margin: 0px 10px;
}

.whats-new {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.new {
  width: 540px;
  height: 320;
  margin: 10px;
  background-image: url(./img/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new p {
  color: black;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}

.new p:nth-child(1) {
  font-size: 40px;
  font-family: calibri;
  font-weight: bold;
}

.new p:nth-child(2) {
  font-size: 30px;
  font-family: myriad pro;
}

.new button {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  background-color: #ea272d;
  font-family: calibri;
  font-weight: 400;
  color: black;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search,
.order {
  width: 540px;
  height: 150px;
  margin: 10px;
  background-color: #b1b1b1;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-row {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  background-image: url(./img/pizza2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  background-image: url(./img/ingri.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search p {
  color: #ffffff;
  font-size: 30px;
  font-family: calibri;
  font-weight: bold;
  line-height: 0px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.text {
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.text input[type="search"] {
  border: none;
  background-color: transparent;
  color: #000000;
  text-align: center;
  outline: none;
}

.text button {
  height: 35px;
  width: 70px;
  border: none;
  color: #0b0b0b0b;
  font-family: calibri;
  font-weight: bold;
  outline: none;
  border-radius: 0px 20px 20px 0px;
  border-left: 1px solid #cdcaca;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order p {
  font-size: 40px;
  font-family: calibri;
  font-weight: bold;
  color: #ffffff;

  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.food-1,
.food-2,
.food-3 {
  width: 354px;
  height: 350;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 5%;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.food-1 p,
.food-2 p,
.food-3 p {
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-family: calibri;
  line-height: 80px;
}

.name p:nth-child(1) {
  font-weight: bold;
  font-size: 40px;
}

.name p:nth-child(2) {
  font-weight: 400px;
  font-size: 30px;
}

.second-row {
  display: flex;
}

.food-1 {
  background-image: url(./img/pizzaSalami.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.food-2 {
  background-image: url(./img/pizzavegan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.food-3 {
  background-image: url(./img/pizzafire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.price button {
  color: #ffffff;
  border: none;
  background-color: #ea272d;
  outline: none;
  width: 70px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(1.2);
  transition: all ease 0.5s;
}

#allergen-container,
#cart-container,
#delivery-container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 20px;
  border: 2px solid #ea272d;
  border-radius: 10px;
  font-size: 20px;
}

#allergen-paragraph {
  font-size: 20px;
}

#cart-horizontal-line {
  color: #ea272d;
  ;
}
.cart-input {
text-align: left;
}


.cart-input>label {
  display: block;
  font-size: 15px;
  margin-left: 10px;
}

.cart-input>input {
  padding: 5px;
  font-size: 25px;
  margin-bottom: 10px;
  background-color: #ea272e4d;
  border: 1px solid gray;
  border-radius: 15px;
  outline: none;
}

.cart-input>input:focus {
  border: 1px solid black;
}
.cart-input>checkbox {
  display: flex;
  background-color: #ea272e4d;
}
#confirm-button {
  background-color: #ea272e4d;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  color: black;
  padding: 7px;
  width: 200px;
  text-align: center;
}
#confirm-button:hover {
  background-color: #ea272d;
  color: white;
}
#label-checkbox {
  display: inline !important;
}
#cart-container>table {
  width: 100%;
}
#delivery-container {
  text-align: center;
}
#pizza{
  width: 60%;
  animation: spin 5s infinite reverse linear;
  top: 50px;
}
@-webkit-keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}